
nav{
    margin-top: 25px;
}
hr{
    border: 0.5px solid #E5E7EA;
    color:#E5E7EA;
    background-color: #E5E7EA;
}
.nav-border{
    border-left: 4px #E4E6E9 solid;
    padding-left: 10px;
    height: 25px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    color:#778096;
}
.d-row{
    display: grid;
    grid-template-columns: 170px auto;
    grid-template-areas: "title line";
}
.title{
    grid-area: title;
}
.line{
    grid-area: line;
}
