.block{
    border: 0.2px #E7E7E7 solid;
    padding: 15px;

    font-weight: 500;
}
.col-6{
    margin-top: 20px;
}

.mar{
    margin-right: 20px;
    width: 100%;
}
.row{
    margin-bottom: 20px;
}
.save{

    margin: 10px;
}
.bor{
    border: 0.2px solid #F4F4F4;
}
